li {
  list-style: none;
  margin: 1rem auto;
  border: 1px solid purple;
  border-radius: 1rem;
  width: 30%;
  padding: 1rem;
  font-weight: normal;
  padding-inline-start: 0;
}

.container {
  text-align: center;
  margin: auto;
}

#avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.search-bar {
  margin: 1rem;
}

#search-user {
  width: 20%;
  height: 1.5rem;
  padding: 0.3rem;
}

#search-btn {
  border-style: none;
  padding: 0.5rem;
  background-color: purple;
  color: white;
  display: block;
  margin: 0.8rem auto;
}

#heading {
  color: purple;
}
